py-portada-data-layer @ git+https://github.com/portada-git/py_portada_data_layer.git
transformers
sentencepiece
pandas
pyarrow
openpyxl
# Dependencias para algoritmos de similitud
metaphone
sentence-transformers
fasttext
